<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>student managemet systerm</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>add.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>User_list.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FindServletStu</display-name>
    <servlet-name>FindServletStu</servlet-name>
    <servlet-class>com.gzu.user.FindServletStu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindServletStu</servlet-name>
    <url-pattern>/FindServletStu</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.gzu.user.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>